USE [master]
GO
/****** Object:  Database [QuanLyBanHang]    Script Date: 5/20/2025 1:38:08 PM ******/
/*SELECT physical_name 
FROM sys.master_files
WHERE database_id = 1; */


-- Xóa database cũ nếu tồn tại
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyBanHang')
DROP DATABASE QuanLyBanHang;
GO

-- Tạo database mới
CREATE DATABASE [QuanLyBanHang]
 CONTAINMENT = NONE
 ON PRIMARY 
( NAME = N'QuanLyBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyBanHang.mdf', SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyBanHang.ldf', SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

USE [QuanLyBanHang]
GO

-- Xóa bảng cũ nếu tồn tại
DROP TABLE IF EXISTS dbo.tblChiTietHoaDon;
DROP TABLE IF EXISTS dbo.tblBanHang;
DROP TABLE IF EXISTS dbo.tblMatHang;
DROP TABLE IF EXISTS dbo.tblKhachHang;
DROP TABLE IF EXISTS dbo.Taikhoan;
GO

-- Tạo bảng khách hàng
CREATE TABLE [dbo].[tblKhachHang](
	[MaKH] [int] NOT NULL PRIMARY KEY,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](15) NULL
);
GO

-- Tạo bảng mặt hàng
CREATE TABLE [dbo].[tblMatHang](
	[MaMH] [int] NOT NULL PRIMARY KEY,
	[TenMH] [nvarchar](100) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL
);
GO

-- Tạo bảng bán hàng
CREATE TABLE [dbo].[tblBanHang](
	[SoHieuHD] [int] NOT NULL PRIMARY KEY,
	[NgayBan] [date] NOT NULL,
	[MaKH] [int] NOT NULL
);
GO

-- Tạo bảng chi tiết hóa đơn
CREATE TABLE [dbo].[tblChiTietHoaDon](
	[SoHieuHD] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	PRIMARY KEY ([SoHieuHD], [MaMH])
);
GO

-- Tạo bảng tài khoản
CREATE TABLE [dbo].[Taikhoan](
	[TenDN] [nchar](10) NOT NULL PRIMARY KEY,
	[Matkhau] [nchar](10) NULL
);
GO

-- Thêm ràng buộc khoá ngoại
ALTER TABLE [dbo].[tblBanHang]
ADD CONSTRAINT [FK_BanHang_KhachHang] FOREIGN KEY([MaKH]) REFERENCES [dbo].[tblKhachHang]([MaKH]) ON DELETE CASCADE;
GO

ALTER TABLE [dbo].[tblChiTietHoaDon]
ADD CONSTRAINT [FK_ChiTietHoaDon_BanHang] FOREIGN KEY([SoHieuHD]) REFERENCES [dbo].[tblBanHang]([SoHieuHD]) ON DELETE CASCADE;
GO

ALTER TABLE [dbo].[tblChiTietHoaDon]
ADD CONSTRAINT [FK_ChiTietHoaDon_MatHang] FOREIGN KEY([MaMH]) REFERENCES [dbo].[tblMatHang]([MaMH]) ON DELETE CASCADE;
GO

-- Chèn dữ liệu mẫu cho bảng khách hàng
GO


-- Thêm dữ liệu mẫu cho bảng mặt hàng
INSERT INTO tblMatHang (MaMH, TenMH, Gia, SoLuong) VALUES
(1, N'Nước ngọt', 10000, 100),
(2, N'Bánh mì', 5000, 200),
(3, N'Kem', 15000, 50),
(4, N'Bia', 20000, 75),
(5, N'Sữa tươi', 12000, 80),
(6, N'Bánh quy', 22000, 150),
(7, N'Xúc xích', 14000, 60),
(8, N'Bột giặt', 45000, 40),
(9, N'Dầu ăn', 38000, 35),
(10, N'Bánh tráng', 6000, 120);
GO

-- Thêm dữ liệu mẫu cho bảng bán hàng (hóa đơn)
INSERT INTO tblBanHang (SoHieuHD, NgayBan, MaKH) VALUES
(101, '2025-09-24', 1),
(102, '2025-09-24', 2),
(103, '2025-09-23', 5),
(104, '2025-09-23', 10),
(105, '2025-08-01', 3),
(106, '2025-08-15', 7),
(107, '2025-09-10', 14),
(108, '2025-09-15', 19),
(109, '2025-09-20', 12),
(110, '2025-09-24', 2),
(111, '2025-09-25', 21),
(112, '2025-09-25', 22),
(113, '2025-09-26', 23),
(114, '2025-09-26', 24),
(115, '2025-09-27', 25);
GO



-- Thêm dữ liệu mẫu cho bảng Chi tiết hóa đơn
INSERT INTO tblChiTietHoaDon (SoHieuHD, MaMH, SoLuong, ThanhTien) VALUES
(101, 1, 2, 20000),
(101, 2, 3, 15000),
(102, 3, 1, 15000),
(102, 4, 2, 40000),
(103, 5, 4, 48000),
(104, 2, 10, 50000),
(105, 6, 5, 110000),
(105, 2, 2, 10000),
(106, 7, 3, 42000),
(106, 1, 5, 50000),
(107, 8, 1, 45000),
(107, 10, 10, 60000),
(108, 9, 2, 76000),
(109, 3, 7, 105000),
(110, 4, 4, 80000),
(111, 1, 10, 100000),
(111, 7, 5, 70000),
(112, 5, 8, 96000),
(113, 2, 20, 100000),
(114, 8, 2, 90000),
(115, 10, 30, 180000);
GO

-- Tạo bảng Doanh thu
CREATE TABLE tblDoanhThu (
    MaDT INT IDENTITY(1,1) PRIMARY KEY,
    SoHieuHD INT NOT NULL,
    NgayBan DATE NOT NULL,
    TongTien DECIMAL(18,2) NOT NULL,
    FOREIGN KEY (SoHieuHD) REFERENCES tblBanHang(SoHieuHD) ON DELETE CASCADE
);
GO

-- Thêm dữ liệu mẫu cho bảng Doanh thu (tổng tiền mỗi hóa đơn)
         -- 180000
GO

-- Kiểm tra dữ liệu
SELECT * FROM tblMatHang;
SELECT * FROM tblBanHang;
SELECT * FROM tblChiTietHoaDon;
SELECT * FROM tblDoanhThu;
GO



-- (Thực hiện các lệnh ALTER DATABASE, cài đặt thuộc tính nếu cần, giữ nguyên phần này của bạn nếu sử dụng)



/*

DROP DATABASE QuanLyBanHang;
GO

CREATE DATABASE [QuanLyBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 

( NAME = N'QuanLyBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyBanHang.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyBanHang.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end 



GO
USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 5/20/2025 1:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[TenDN] [nchar](10) NOT NULL,
	[Matkhau] [nchar](10) NULL,
 CONSTRAINT [PK_Taikhoan] PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBanHang]    Script Date: 5/20/2025 1:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanHang](
	[SoHieuHD] [int] NOT NULL,
	[NgayBan] [date] NOT NULL,
	[MaKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHieuHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChiTietHoaDon]    Script Date: 5/20/2025 1:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDon](
	[SoHieuHD] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoHieuHD] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 5/20/2025 1:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


DROP TABLE IF EXISTS tblKhachHang;
GO
CREATE TABLE [dbo].[tblKhachHang](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMatHang]    Script Date: 5/20/2025 1:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


SELECT * FROM tblKhachHang;



CREATE TABLE [dbo].[tblMatHang](
	[MaMH] [int] NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblBanHang]  WITH CHECK ADD  CONSTRAINT [FK_BanHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tblKhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblBanHang] CHECK CONSTRAINT [FK_BanHang_KhachHang]
GO
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_BanHang] FOREIGN KEY([SoHieuHD])
REFERENCES [dbo].[tblBanHang] ([SoHieuHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_BanHang]
GO
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_MatHang] FOREIGN KEY([MaMH])
REFERENCES [dbo].[tblMatHang] ([MaMH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_MatHang]
GO
USE [master]
GO
/*
Data Source=DESKTOP-PI4AFQU\SQLEXPRESS;Integrated Security=True;Trust Server Certificate=True
Data Source=D509\SQLEXPRESS;Initial Catalog=QuanLyBanHang;Integrated Security=True
*/

*/

/* Nhân viên */


USE QuanLyNhanVien;
GO

-- Xóa bảng con trước (có FK tới NhanVien)
DROP TABLE IF EXISTS ChamCong;
DROP TABLE IF EXISTS Phat;
DROP TABLE IF EXISTS Thuong;
DROP TABLE IF EXISTS ThanhTich;

-- Xóa bảng cha
DROP TABLE IF EXISTS NhanVien;
DROP TABLE IF EXISTS PhongBan;



USE QuanLyNhanVien;
GO

-- Bảng Phòng ban
CREATE TABLE PhongBan (
    MaPB INT IDENTITY(1,1) PRIMARY KEY,
    TenPB NVARCHAR(50) NOT NULL
);

-- Bảng Nhân viên
CREATE TABLE NhanVien (
    MaNV NVARCHAR(10) PRIMARY KEY,
    HoTen NVARCHAR(100) NOT NULL,
    NgaySinh DATE,
    GioiTinh NVARCHAR(10),
    DienThoai NVARCHAR(15),
    DiaChi NVARCHAR(200),
    MaPB INT NOT NULL,
    FOREIGN KEY (MaPB) REFERENCES PhongBan(MaPB)
);

-- Thêm dữ liệu mẫu phòng ban
INSERT INTO PhongBan (TenPB)
VALUES (N'Giám đốc'), (N'Hành chính'), (N'Kế hoạch'),
       (N'Tài chính'), (N'Kế toán'), (N'Công đoàn'),
       (N'Lao công'), (N'Bảo vệ');

-- Thêm nhân viên mẫu
DELETE FROM NhanVien;



-- Chấm công 

-- Xóa bảng cũ nếu đã tồn tại
IF OBJECT_ID('ChamCong', 'U') IS NOT NULL
    DROP TABLE ChamCong;
GO

-- Tạo bảng Chấm công
CREATE TABLE ChamCong (
    MaCC INT IDENTITY(1,1) PRIMARY KEY,  -- Mã chấm công
    MaNV NVARCHAR(10) NOT NULL,          -- Mã nhân viên
    HoTen NVARCHAR(100) NOT NULL,        -- Họ tên nhân viên
    NgayCong DATE NOT NULL,              -- Ngày công
    CaLam NVARCHAR(20) NOT NULL,         -- Ca làm: Sáng/Chiều/Tối
    SoGioLam INT NOT NULL,               -- Số giờ làm
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV) ON DELETE CASCADE
);

-- Thêm dữ liệu chấm công mẫu



-- Xóa bảng nếu đã tồn tại
IF OBJECT_ID('Phat', 'U') IS NOT NULL
    DROP TABLE Phat;
GO

-- Tạo bảng Phạt
CREATE TABLE Phat (
    MaPhat INT IDENTITY(1,1) PRIMARY KEY, -- Mã phạt tự tăng
    MaNV NVARCHAR(10) NOT NULL,           -- Mã nhân viên
    HoTen NVARCHAR(100) NOT NULL,         -- Họ tên nhân viên
    LyDo NVARCHAR(200) NOT NULL,          -- Lý do phạt
    SoTien MONEY NOT NULL,                -- Số tiền phạt
    NgayPhat DATE NOT NULL,               -- Ngày phạt
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV) ON DELETE CASCADE
);

-- Thêm dữ liệu phạt mẫu


-- Xóa bảng nếu đã tồn tại
IF OBJECT_ID('Thuong', 'U') IS NOT NULL
    DROP TABLE Thuong;
GO

-- Tạo bảng Thưởng
CREATE TABLE Thuong (
    MaThuong INT IDENTITY(1,1) PRIMARY KEY, -- Mã thưởng tự tăng
    MaNV NVARCHAR(10) NOT NULL,             -- Mã nhân viên
    HoTen NVARCHAR(100) NOT NULL,           -- Họ tên nhân viên
    NoiDung NVARCHAR(200) NOT NULL,         -- Nội dung thưởng
    SoTien MONEY NOT NULL,                  -- Số tiền thưởng
    NgayThuong DATE NOT NULL,               -- Ngày thưởng
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV) ON DELETE CASCADE
);
-- Thêm dữ liệu thưởng mẫu

SELECT * FROM Thuong;

-- Xóa bảng nếu đã tồn tại
IF OBJECT_ID('ThanhTich', 'U') IS NOT NULL
    DROP TABLE ThanhTich;
GO

-- Tạo bảng Thành tích
CREATE TABLE ThanhTich (
    MaTT INT IDENTITY(1,1) PRIMARY KEY,   -- Mã thành tích tự tăng
    MaNV NVARCHAR(10) NOT NULL,           -- Mã nhân viên
    HoTen NVARCHAR(100) NOT NULL,         -- Họ tên nhân viên
    ThanhTich NVARCHAR(200) NOT NULL,     -- Nội dung thành tích
    Nam INT NOT NULL,                     -- Năm đạt thành tích
    GhiChu NVARCHAR(200),                 -- Ghi chú thêm
    FOREIGN KEY (MaNV) REFERENCES NhanVien(MaNV) ON DELETE CASCADE
);

-- Thêm dữ liệu thành tích mẫu

SELECT * FROM ThanhTich;
